@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

body{
    background: #081b29;
}

.header{
    margin-top: 20px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover{
    color: #00abf0;

}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;

}

.home-content{
    max-width: 650px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: #ffff;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
    color: #ffff;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #00abf0;

}


.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;

}

.btn-box a:nth-child(2):hover{
    color: #081b29;

}

.btn-box a:nth-child(2)::before{
    background: #00abf0;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover:before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

#about{
    height: 70vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

#about article{
    border-radius: 0.5rem;
    padding-right: 40px;
}

#about h1{
    font-size: 40px;
    color: #ededed;
}

#about h3{
    font-size: 30px;
    color: #ededed;

}

#about img{
    position: relative;
    border-radius: 20px;
    height: 400px;
    width: 400px;
    transition: transform 0.3s, box-shadow 0.3s;
}

#about img:hover{
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
}



@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:relative;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}


#about #work{
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 0;
    font-size: 40px;
    color: #00abf0;
}

.timeline{
    padding-top: 200px;
    position: relative;
    margin: 5em auto;
    max-width: 34,15em;
}

.checkpoint{
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint div{
    border: 2px solid #888;
    border-radius: 1em;
    padding: 1.5em;
    margin-bottom: 20px;
}

.checkpoint h2{
    color: #00abf0;
}

.checkpoint p{
    line-height: 27px;
    color: #ccc;
}

.checkpoint:nth-child(odd){
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(17em);
}

.checkpoint:nth-child(even){
    border-right: 3px solid #888;
    padding-right: 3em;
    transform: translateX(-17em);
}


.services{
    padding: 200px;
}

#service{
    font-size: 40px;
    color: #00abf0;
}

.services p{
    font-size: 30px;
    color: #ededed;
}

.technologies{
    margin-top: 30px;
}

.technologies p{
    margin-top: 10px;
    font-size: 20px;
}

.services h2{
    
    color: #ededed;
    font-size: 30px;
}

.languages{
    margin-top: 30px;
}

.languages p{
    margin-top: 10px;
    font-size: 20px;
}




